//  ============================================
//  Layout
//  ============================================

//  Helpers
// ---------------------------------------------

.relative {
  position: relative;
}

//  Header
// ---------------------------------------------

header {
  position: relative;
  z-index: 0;
  padding: 2rem 0;
  @include media($tablet) {
    padding: 4rem 0;
  }
  @include media($desktop) {
    padding: 6rem 0;
  }
}

//  Main
// ---------------------------------------------

section {
  margin: 4rem 0;
  @include media($tablet) {
    padding: 4rem 0;
  }
  @include media($desktop) {
    padding: 2rem 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
  @include outer-container;
  padding: 0 1rem;
  @include media($tablet) {
    padding: 0 2rem;
  }
  @include media($desktop) {
    padding: 0 2rem;
  }
  @include media($widescreen) {
    padding: 0 0;
  }
}

.inner {
  @include media($desktop) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.person {
  margin-bottom: 2rem;
  @include media($tablet) {
    @include span-columns(4 of 8);
    @include omega(2n);
  }
  @include media($desktop) {
    @include span-columns(4 of 12);
    @include omega(3n);
    margin-bottom: 3rem;
  }
}

.half {
  @include fill-parent;
  margin-bottom: 2rem;
  @include media($desktop) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

.gold {
  text-align: center;
  display: block;
  @include media($tablet) {
    @include span-columns(4 of 8);
    @include omega(2n);
  }
  @include media($desktop) {
    @include span-columns(4 of 8);
    @include omega(2n);
  }
}

.silver {
  font-size: $fs-default;
  @include media($mobile) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include media($tablet) {
    @include span-columns(2 of 8);
    @include omega(4n);
  }
  @include media($desktop) {
    @include span-columns(2 of 8);
    @include omega(4n);
  }
 }

//  Footer
// ---------------------------------------------

footer {
  padding: 1rem 0;
  font-size: $fs-small;
  background: $color-dark-gray;
  color: $color-white;
}
