//  ============================================
//  Module
//  ============================================

//  Hero
// ---------------------------------------------

.hero {
  background-size: cover !important;
  @include clearfix;
  &:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    @include linear-gradient(45deg, rgba($color-primary, 0.6) 0%, rgba($color-secondary, 0.6) 99%);
  }
}

.hero-content {
  color: #fafafa;
  position: relative;
}

.logomark {
    margin: 0 auto 0 auto;
    display: block;
    background: url("../images/drumtalk_logomark-3.png") center center no-repeat;
    width: 160px;
    height: 160px;
    background-size: 160px 160px;
    @include media($tablet) {
      width: 220px;
      height: 220px;
      background-size: 220px 220px;
    }
    @include media($desktop) {
      width: 320px;
      height: 320px;
      background-size: 320px 320px;
    }
  }

//  People
// ---------------------------------------------

.person {
  img {
    margin: 0 0 1rem 0;
    display: block;
  }
  .bio {
    display: none;
  }
  p {
    font-size: $fs-small;
    margin: 0 0 1rem 0;
    color: $color-light-gray;
  }
}

//  Sponsors
// ---------------------------------------------

.sponsor {
  font: $fw-semibold $fs-large $ff-default;
  letter-spacing: -2px;
  color: $color-extra-light-gray;
  text-align: center;
  @include media($desktop) {
    margin: 0 0 2rem 0;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  &.gold {
    margin-bottom: 4rem;
  }
}

svg {
  display: block;
  height: auto;
  max-height: 100%;
}

path, g {
  stroke: $color-white;
  fill: $color-light-gray;
  &.override {
    fill: $color-white !important;
  }
}

.noimg {
  margin-bottom: 4rem;
  color: $color-light-gray;
  @include media($desktop) {
  }
}

//  Media
// ---------------------------------------------

.social-block {
  background-size: cover !important;
  position: relative;
  display: table;
  z-index: 0;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.facebook {
    &:before {
      @include linear-gradient(45deg, rgba($color-facebook, 0.6) 0%, rgba((adjust-color($color-facebook, $lightness: -10%, $saturation: 25%)), 0.6) 99%);
    }
  }
  &.youtube {
    &:before {
      @include linear-gradient(45deg, rgba($color-youtube, 0.6) 0%, rgba((adjust-color($color-youtube, $lightness: -10%, $saturation: 25%)), 0.6) 99%);
    }
  }
}

.social-block .text {
  padding: 3rem 0;
  color: $color-white;
  text-align: center;
  z-index: 10;
  span {
    font-size: $fs-small;
    display: block;
  }
  h1 {
    text-align: center;
    width: 60%;
    color: $color-white;
    margin: 1rem auto 1.5rem auto;
    padding: 1rem 0;
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }
  a {
    font-size: $fs-small;
    color: $color-white;
    border-color: $color-white;
    &:hover {
      background: transparent;
      color: white;
    }
  }
}

//  Maps
// ---------------------------------------------

.gm-style-iw {
  overflow:visible !important;
}

.gm-style-iw + div {
  display: none;
}

#map {
  height: 220px;
  z-index: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
  overflow: hidden;
  @include media($tablet) {
    height: 400px;
  }
  @include media($desktop) {
    height: 400px;
  }
}

.map-wrap {
  padding: 0;
}

//  Buttons
// ---------------------------------------------

.button {
  font: $fw-default $fs-default $ff-default;
  color: $color-primary;
  border-radius: 5px;
  border: 2px solid $color-primary;
  padding: 1rem 2rem;
  display: inline-block;
  &:hover {
    background: $color-primary;
    color: $color-white;
  }
}

.ss-icon {
  font-size: $fs-medium;
  display: inline-block;
  padding: 0 0.25rem 0 0;
}
