//  ============================================
//  Module
//  ============================================

//  Hero
// ---------------------------------------------

.hero {
  background-size: cover !important;
  @include clearfix;
  &:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    @include linear-gradient(45deg, rgba($color-primary, 0.6) 0%, rgba($color-secondary, 0.6) 99%);
  }
}

.hero-content {
  color: #fafafa;
  position: relative;
}

.logomark {
    display: block;
    width: 320px;
    height: 320px;
    background: url("../images/drumtalk_logomark-3.png") center center no-repeat;
    background-size: 320px 320px;
    margin: 0 auto 0 auto;
  }

//  People
// ---------------------------------------------

.person {
  @include span-columns(4 of 12);
  @include omega(3n);
  margin-bottom: 3rem;
  img {
    margin: 0 0 1rem 0;
    display: block;
  }
  .bio {
    display: none;
  }
  p {
    font-size: $fs-small;
    margin: 0 0 1rem 0;
    color: $color-light-gray;
  }
}

//  Sponsors
// ---------------------------------------------

.sponsor {
  margin: 0 0 2rem 0;
  font: $fw-semibold $fs-large $ff-default;
  letter-spacing: -2px;
  color: $color-extra-light-gray;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

svg {
  display: block;
  height: auto;
  max-height: 100%;
}

path, g {
  fill: $color-light-gray;
  &.override {
    fill: $color-white !important;
  }
}

.noimg {
  margin-top: -2rem;
  color: $color-light-gray;
}

//  Media
// ---------------------------------------------

.social-block {
  background-size: cover !important;
  position: relative;
  display: table;
  z-index: 0;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.facebook {
    &:before {
      @include linear-gradient(45deg, rgba($color-facebook, 0.6) 0%, rgba((adjust-color($color-facebook, $lightness: -10%, $saturation: 25%)), 0.6) 99%);
    }
  }
  &.youtube {
    &:before {
      @include linear-gradient(45deg, rgba($color-youtube, 0.6) 0%, rgba((adjust-color($color-youtube, $lightness: -10%, $saturation: 25%)), 0.6) 99%);
    }
  }
}

.social-block .text {
  padding: 3rem 0;
  color: $color-white;
  text-align: center;
  z-index: 10;
  span {
    font-size: $fs-small;
    display: block;
  }
  h1 {
    width: 60%;
    color: $color-white;
    margin: 1rem auto 1.5rem auto;
    padding: 1rem 0;
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }
  a {
    font-size: $fs-small;
    color: $color-white;
    border-color: $color-white;
    &:hover {
      background: transparent;
      color: white;
    }
  }
}

//  Maps
// ---------------------------------------------

.gm-style-iw {
  overflow:visible !important;
}

.gm-style-iw + div {
  display: none;
}

.gmaps-infowindow {
  width: 160px;
  * {
    line-height: 1.5;
  }
  p {
    margin: 0 0 1rem 0;
  }
  a {
    display: block;
    &:visited {
      color: blue;
    }
  }
}

#map {
  position: absolute;
  height: 100%;
  min-height: 450px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: translateZ(0);
  overflow: hidden;
  // &:before {
  //   content: "";
  //   display: block;
  //   padding-top: 50%;
  // }
}

.map-wrap {
  min-height: 450px;
  -webkit-animation: fadeIn .3s .8s both;
}

.location {
  // display: none;
  border-radius: 5px;
  padding: 2rem 0;
  margin: 2rem 0;
  background: $color-dark-gray;
  color: $color-white;
  @include span-columns(3 of 12);
  @include shift(9);
  position: relative;
  // min-height: 1px;
  float: left;
  height: 100% !important;
}

//  Buttons
// ---------------------------------------------

.button {
  font: $fw-default $fs-default $ff-default;
  color: $color-primary;
  border-radius: 5px;
  border: 2px solid $color-primary;
  padding: 1rem 2rem;
  display: inline-block;
  &:hover {
    background: $color-primary;
    color: $color-white;
  }
}

.ss-icon {
  font-size: $fs-medium;
  display: inline-block;
  padding: 0 0.25rem 0 0;
}
