/*  ============================================
		State
============================================= */

/*  Helpers
--------------------------------------------- */

.is-hidden {
	display: none !important;
	visibility: hidden;
}

.is-invisible {
	visibility: hidden;
}

.google {
  @include link($color-google);
}

.facebook {
  @include link($color-facebook);
}

.youtube {
  @include link($color-youtube);
}

.twitter {
  @include link($color-twitter);
}

.vimeo {
  @include link($color-vimeo);
}

.link {
  @include link($color-extra-light-gray);
}

.hero-01 {
  background: url("../images/hero/01_bw.jpg") top center no-repeat;
}

.hero-02 {
  background: url("../images/hero/02_bw.jpg") top center no-repeat;
}

.hero-03 {
  background: url("../images/hero/03_bw.jpg") top center no-repeat;
}

.hero-04 {
  background: url("../images/hero/04_bw.jpg") top center no-repeat;
}

.hero-05 {
  background: url("../images/hero/05_bw.jpg") top center no-repeat;
}

.hero-06 {
  background: url("../images/hero/06_bw.jpg") top center no-repeat;
}

.hero-07 {
  background: url("../images/hero/07_bw.jpg") top center no-repeat;
}

.hero-08 {
  background: url("../images/hero/08_bw.jpg") top center no-repeat;
}

.hero-09 {
  background: url("../images/hero/09_bw.jpg") top center no-repeat;
}

.hero-10 {
  background: url("../images/hero/10_bw.jpg") top center no-repeat;
}

.hero-11 {
  background: url("../images/hero/11_bw.jpg") top center no-repeat;
}

.hero-12 {
  background: url("../images/hero/12_bw.jpg") top center no-repeat;
}

.hero-13 {
  background: url("../images/hero/13_bw.jpg") top center no-repeat;
}

.hero-14 {
  background: url("../images/hero/14_bw.jpg") top center no-repeat;
}

.hero-15 {
  background: url("../images/hero/15_bw.jpg") top center no-repeat;
}

/*  Selected
--------------------------------------------- */

::-moz-selection {
	background: $color-primary;
	text-shadow: none;
}

::selection {
	background: $color-primary;
	text-shadow: none;
}
